/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: grey;
}

/* COMMON */
body {
    background-color: #d9dbd4;

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}  


.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.bg-lightgrey {
    background-color: #eaeaea;
}

.utente-text {
    font-size: 14px;
}

.grey-text {
    color: #b1b1b1;
}

.pointer {
    cursor: pointer;
}

/* Avatar Image Container */
.avatar-container {
    width: 40px;
}

.avatar-container img {
    border-radius: 50%;
}

/* HEADER */
header {
    height: 20vh;

    background-color: #009587;
}

/* App Container */
.app-container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    width: 90%;
    height: 90%;
}

/* NOME UTENTE SECTION */
.nome-utente-section {
    min-width: 371px;
}

/* Nome Utente Header */
.nome-ut-header {
    align-items: center;
    justify-content: space-between;

    padding: 10px;
}

.avatar-name {
    align-items: center;
}

.avatar-name span {
    margin-left: 10px;
}

/* HEADER Icons */
.avatar-header-icons i {
    margin-left: 10px;
}

/* Notifications */
.notifications {
    padding: 10px;

    background-color: #8edafb;
}

.bell-container {
    background-color: white;

    padding: 10px;
    margin-right: 10px;

    border-radius: 50%;
}

.notifications-text a {
    font-size: 12px;

    color: grey;
}

/* Filter Search */
.filter-search {
    text-align: center;
    padding: 5px 0;
}

.input-filter {
    width: 95%;
    height: 25px;

    text-align: center;
}

.input-filter::placeholder {
    text-align: center;
}

.filter {
    position: relative;
}

.lens {
    position: absolute;
    left: 40px;
    top: 6px;

    font-size: 12px;

    color: #b1b1b1;
}

/* Contacts */
.contacts {
    background-color: white;

    overflow: auto;

    height: calc( 100% - 158px );
}

.single-contact {
    padding: 10px;
    border-bottom: 0.5px solid lightgray;

    align-items: center;

    cursor: pointer;

    position: relative;
}

.last-message {
    font-size: 10px;

    padding-left: 10px;

    color: lightgrey;
}

.last-access {
    font-size: 8px; 
    
    color: lightgrey;

    position: absolute;
    right: 10px;
    top: 10px;
}

.single-contact:hover{
    background-color: lightgrey;

}

/* CHAT SECTION */
.chat-section {
    width: 65%;
}

/* Chat HEADER */
.chat-header {
    padding: 10px;

    justify-content: space-between;
    align-items: center;
}

/* Chat MAIN */
.chat-main {
    height: calc( 100% - 134px );

    background-image: url(../img/mine.jpg);

    overflow: auto;
}


.sent {
    background-color: #d5f9ba;

    margin-left: 55%;
}

.received {
    background-color: white;

    margin-left: 5%;
}

.sent,
.received {
    border-radius: 10px;

    width: 40%;
    min-height: 40px;

    font-size: 14px;

    padding: 10px;
    
    margin-top: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}


/* Chat USER , chat BOT*/
.chat-user,
.chat-bot {
    padding: 30px;
}

/* Chat FOOTER */
.chat-footer {
    justify-content: space-between;
    align-items: center;

    background-color: #f3eeea;

    padding: 20px;
}

.chat-footer i {
    color: #6a7376;
}

/* Message input */
.message-input {
    width: 90%;
    height: 30px;

    border-radius: 5px;
}

/* Date */
.message-container {
    position: relative;

    padding: 20px;
}

.date {
    position: absolute;
    right: 8px;
    bottom: 3px;

    font-size: 10px;

    color: lightgray;
}

/* Ultimo accesso */
.ultimo-accesso {
    font-size: 10px;
}

/* ACTIVE */
.active {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/* CHAT MENU */
.chat-menu-arrow {
    position: absolute;
    right: 0px;
    top: 10%;

    padding: 10px;

    color: lightgrey;

    cursor: pointer;

    display: none;
}

.message-container:hover .chat-menu-arrow {
    display: block;
}

.message-container {
    position: relative;
}

/* Dropdown Menu */
.chat-dropdown {
    position: absolute;
    right: 0;
    top: 35px;

    padding: 10px;

    z-index: 1;

    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

    background-color: white;
}

.chat-dropdown li {
    padding: 10px 0;

    font-size: 14px;
}

.chat-dropdown li a:hover {
    color: lightgrey;
}

/* Transition */
.fade-enter-active, .fade-leave-active {
    transition: opacity 0.7s;
}

.fade-enter, .fade-leave-to {
    opacity: 0;
}

/* Paper plane icon */
.fa-paper-plane {
    color: white !important;
    background-color: #009587;

    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

    padding: 10px;

    font-size: 14px;

    border-radius: 50%;
}

